page-customer {
	ion-label {
		margin:0 !important;
	}

	.input-wrapper {
	    padding-bottom: 0 !important;
	}
	.item-inner {
		height: 20px !important;
	}

	ion-avatar {
		margin: 0 !important;
	}
}
